@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
:root {
    font-family: 'Roboto Slab', serif;
}
header .logo {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    font-weight:bold;
    background-color:#24cc2a;
}

header .menu {
    display: flex;
    justify-content: space-around;
}
header .menu {
    background-color:#24cc2a;
    text-decoration: none;
}